# Ignore all
*

# Unignore all with extensions
!*.*
!inpEquil

# Unignore all dirs
!*/

water.equil
mnasa_mod.mod
*.o
*.swp
pos_out123.xyz
md_traj.xyz
*.dat
*.out
*.txt
*.CORRELATED
*.dSYM/
*.png
run.bash
compile.bash
